@import "../../abstracts/index";

.alert-message {
  color: lighten(#c65102, -0%);
  font-style: italic;
}

.validation-feedback-text {
  color: $dark-red;
  font-weight: 600;
  padding: 0 rem-calc(8);
}

.field-error-message {
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(12);
  display: flex;
  color: $dark-red;
  font-weight: 600;
}

.field-help-message {
  margin-bottom: rem-calc(-10);
  justify-content: flex-start;
  align-items: flex-end;
  height: rem-calc(34);
  padding: 0 rem-calc(6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-flex;

  &.success-message {
    color: var(--success-color);
    font-weight: 500;
  }
}
