@import "../../abstracts/index";

$font-base-color: #0a284b;

.text-block-center {
  margin: 0 auto;
  text-align: center;
}

.po-password-strength-bar.secure {
  background: $app-green;
}

.section-title {
  font-size: rem-calc(22);
  color: #0a284b;
  margin: rem-calc(12) 0;
  padding: 0 rem-calc(10);
}


section {
  .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: rem-calc(18);
    width: 100%;

    .icon-info {
      top: rem-calc(1);
    }
  }

  &.button-section {
    padding: 0 rem-calc(6);
  }
}


form {
  padding: 1em 0;

  &.form-fieldset {
    padding: 0;
  }
}

.addition-text {
  display: flex;
  justify-content: flex-end;
  padding-top: rem-calc(16);
  user-select: none;
  padding-right: rem-calc(4);
  padding-left: rem-calc(4);
}

.po-password-strength-meter {
  padding-left: rem-calc(12);
  padding-right: rem-calc(12);
}

.po-password-strength-bar {
  position: relative;
  background: #f8f8f8;
  margin-top: rem-calc(18);

  &::before,
  &::after {
    content: '';
    width: rem-calc(2);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &::before {

  }

  &::after {

  }
}


.field-self {
  height: $input-field-height;
  position: relative;

  > .input {
    position: relative;
    padding-left: rem-calc(12);
    padding-top: rem-calc(16);
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.field-wrapper {
  background: transparent;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: rem-calc(18) 0;
  border: 0;
  padding: 0;

  &.invalid {
    &:not(.animation-disabled) {
      input, select {
        animation-name: shake;
        animation-duration: 800ms;
      }
    }
  }


  .control {
    position: relative;
    padding: 0 rem-calc(6);
    display: flex;
    flex-direction: column;
  }

  &.submit {
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &.has-tooltip {

    .control {

      &.invalid, &.valid {
        .input-icon-parent {
          padding-right: rem-calc(32);
        }
      }
    }
  }

  &.has-meter {
    margin-bottom: rem-calc(0);

    .field-additions.out-type {
      top: rem-calc(-14);
    }

    .Password.password-strength-meter {
      max-width: 100%;
    }

    .Password__strength-meter {
      margin: rem-calc(18) auto rem-calc(18);
    }
  }

  &:not(&.has-additions) {
    &.has-meter {
      .Password__strength-meter {
        margin: rem-calc(22) auto rem-calc(8);
      }
    }
  }

  &.has-additions {
    &.has-meter {
      margin-bottom: rem-calc(12);
    }
  }

  &.has-out-additional {
    margin-bottom: rem-calc(38);
  }

  &.checkbox {
    margin-bottom: rem-calc(22);
  }
}

.field-additional-item {
  &.right-bottom {
    right: 0;
    bottom: 0;
  }

  &.right-top {
    right: 0;
    top: 0;
  }

  &.left-bottom {
    left: 0;
    bottom: 0;
  }

  &.left-top {
    top: 0;
    left: 0;
  }
}

.input-feedback-field {
  padding-top: 0;
  padding-left: rem-calc(2);
  padding-right: rem-calc(2);
}

.control.valid.disabled {
  .tooltip {
    right: rem-calc(60);
  }
}

.highlight {
  color: lighten($font-base-color, 5%);
  font-size: rem-calc(18);
}

.icon-feedback-field {
  height: rem-calc(16);
  position: absolute;
  top: rem-calc(14);
  right: rem-calc(22);
  z-index: 9;

  .select & {
    right: rem-calc(60);
  }

  .color & {
    right: rem-calc(120);
  }
}

.error-tooltip-message {
  $background-color: $dark-red-light;
  position: absolute;
  z-index: 999;
  background: $background-color;
  color: $white;
  border-radius: rem-calc(4);
  padding: rem-calc(8) rem-calc(12);
  top: rem-calc(-42);
  right: rem-calc(8);
  display: flex;
  width: max-content;
  align-items: center;
  font-size: rem-calc(14);

  ::first-letter {
    text-transform: uppercase;
  }

  > span {
    position: relative;
    top: rem-calc(1);
    text-align: center;
  }

  &::after {
    $size: rem-calc(5);
    content: '';
    position: absolute;
    right: rem-calc(18);
    bottom: -$size;
    width: 0;
    height: 0;
    border: $size solid transparent;
    border-top-color: $background-color;
    border-bottom-width: 0;
  }
}

.validation-form {
  .btn-primary {
    margin-top: rem-calc(22);
  }
}
